{% extends 'base.html' %} 
{% block title %} Your mailing lists {% endblock%} 

{% block body %} 
<div class="row user mailing_lists">
    <div class="col-sm-12">
        <h1>Your mailing lists</h1>
        <div>
            <a href="{% url 'mailinglist:create_mailinglist' %}" class="btn btn-primary">
                New list
            </a>
        </div>
        <p>Your mailing lists:</p> 
        <ul class="mailing_list_list">
            {% for mailinglist in mailinglist_list %} 
            <li class="mailinglist-item">
                <a href="{% url 'mailinglist:manage_mailinglist' pk=mailinglist.id %}"> {{mailinglist.name}} </a>
            </li>
            {%endfor%} 
        </ul>
    </div>
</div>
{% endblock%} 
